*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
  background: #daeff7;
  padding: 50px 0;
}

.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}

.nav a {
  padding: 0.5em 0.8em;
  color: #112889;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before, .nav a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #0aa6ed;
  border-right: 3px solid #0aa6ed;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #0aa6ed;
  border-left: 3px solid #0aa6ed;
  transform: translate(100%, -50%);
}

.nav a:hover:before, .nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav a:hover {
  color: #0aa6ed;
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 15px 20px;
  background-color: #daeff7;
  margin-left: auto;
}

.menu li:hover .menu-vertical {
  display: block;
  right: 10;
}

.menu-vertical li:hover {
  background-color: #0aa6ed;
}

.menu-vertical li a {
  display: block;
  color: #112889;
  text-decoration: none;
  padding: 15px;
}

.menu-vertical a::before, .menu-vertical a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.menu-vertical a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #0aa6ed;
  border-right: 3px solid #0aa6ed;
  transform: translate(-100%, 50%);
}

.menu-vertical a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #0aa6ed;
  border-left: 3px solid #0aa6ed;
  transform: translate(100%, -50%);
}

.menu-vertical a:hover:before, .menu-vertical a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}